*{
    margin:0px;
    padding:0px;
}
.contenedor{
    width:400px;            
    height:200px;             
    border:1px solid white;  
    background-color:black;        
    position:relative;        
    margin:40px auto;         
    overflow:hidden;          
}

.cuadrito{
    width:100px;
    height:100px;
    position:absolute; 
    left:150px;        
    top:50px;  
    rotate: 30 deg;       
}
.cuadrito img{
    width:100px;
    height:100px;
    rotate: 30 deg; 
    animation: xd 1s infinite alternate linear;
}
@keyframes xd{
    from{rotate: 5deg;}
    to{rotate: 10deg;}
}
.estrella{
    width:4px;              
    height:4px;
    background:white;   
    border-radius:50%;  /* círculo */
    position:absolute;
    animation:mover infinite linear;
}

.e1{
top:10px;
left:400px;
animation-duration:2s;
}
.e2{
top:30px;
left:500px;
animation-duration:3s;
}
.e3{
top:50px;
left:450px;
animation-duration:4s;
}
.e4{
top:70px;
left:550px;
animation-duration:2.5s;
}
.e5{
top:90px;
left:600px;
animation-duration:3.5s;
}
.e6{
top:110px;
left:430px;
animation-duration:2.2s;
}
.e7{
top:130px;
left:520px;
animation-duration:4s;
}
.e8{
top:150px;
left:580px;
animation-duration:3s;
}
.e9{
top:170px;
left:470px;
animation-duration:2.8s;
}
.e10{
top:190px;
left:650px;
animation-duration:3.7s;
}
/* Movimiento de las estrellas */
@keyframes mover{
from{
left:650px;/* empiezan a la derecha */
}
to{
left:-20px; /* se mueven hacia la izquierda */
}
}
.volver{
        width: 40px;
        padding:20px;
        background-color: palevioletred;
        color:black;
        border:2px solid black;
        }