*{
            padding: 0px;
            margin:0px;
        }
        .contenedor{
            width: 400px;
            height: 200px;
            border: 1px solid black;
            position: relative;/*para centrar el div*/
            margin: 0 auto; /*para centrar el div*/
            background-color: beige;
            overflow: hidden;/* muestra solo lo interior */
        }

        .cuadrito{
            width: 100px;
            height: 100px;
            background-color: black;
            position:absolute;/* permite mover el div dentro del contenedor */
            top: 200px;
            left:150px;
            animation: cuadrito 4s infinite linear;

        }
        @keyframes cuadrito{
            from{
                top:-100px;
                
            }
            to{
                top:500px;

            }
        }
        body{
            background-color: aqua;
        }
        .volver{
        width: 92px;
        height: 40px;
        background-color:rgb(204, 139, 245);
        border: 1px solid purple;
        left:720px;
        top: 300px;
        position: absolute;
        border-radius: 10px;
        text-align: center;
    }
 a{
    text-decoration: none;
}